/* Write your CSS code here */

.cart {
  width: 85%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .cart {
    width: 40%;
  }
}
